In [2]:
import pandas as pd
import numpy as np

In [3]:
df_music = pd.read_csv("music_accurate.csv")
df_music.head()

,track_id,duration,loudness,tempo,artist_hotness,key_confidence,mode_confidence,artist_id
0,b'TRAAAAW128F429D538',218.93179,-11.197,92.198,0.401998,0.736,0.636,b'ARD7TVE1187B99BFB1'
1,b'TRAAABD128F429CF47',148.03546,-9.843,121.274,0.417500,0.169,0.430,b'ARMJAGH1187FB546F3'
2,b'TRAAADZ128F9348C2E',177.47546,-9.689,100.070,0.343428,0.643,0.565,b'ARKRRTF1187B9984DA'
3,b'TRAAAEF128F4273421',233.40363,-9.013,119.293,0.454231,0.751,0.749,b'AR7G5I41187FB4CE6C'
4,b'TRAAAFD128F92F423A',209.60608,-4.501,129.738,0.401724,0.092,0.371,b'ARXR32B1187FB57099'

In [10]:
tracks = pd.read_csv("unique_tracks_full.txt",sep='<SEP>',header=None)
tracks.head()

/anaconda3/envs/si618/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

                    0                   1                 2                  3
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [12]:
tracks.columns = ['track_id', 'song_id','artist','song_name']
tracks.head()

             track_id             song_id            artist          song_name
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [11]:
songs = pd.read_csv("songs.csv")
songs.head()

              song_id
0  SONGIPI12A8AE46162
1  SOTCMDJ12A6D4F8528
2  SOGBNLS12A6D4F7818
3  SOWQJGC12A6D4F703A
4  SOWYYUQ12A6701D68D

In [28]:
song_track_map = pd.merge(tracks,songs,on='song_id',indicator=True,how='outer')
song_track_map.head()

,track_id,song_id,artist,song_name,_merge
0,TRMMMYQ128F932D901,SOQMMHC12AB0180CB8,Faster Pussy cat,Silent Night,both
1,TRMMMKD128F425225D,SOVFVAK12A8C1350D9,Karkkiautomaatti,Tanssi vaan,left_only
2,TRMMMRX128F93187D9,SOGTUKN12AB017F4F1,Hudson Mohawke,No One Could Ever,left_only
3,TRMMMCH128F425532C,SOBNYVR12A8C13558C,Yerba Brava,Si Vos Querés,both
4,TRMMMWA128F426B589,SOHSBXH12A8C13B0DF,Der Mystic,Tangle Of Aspens,left_only

In [29]:
song_track_map.shape

(1000000, 5)

In [35]:
user_song_track = song_track_map[ song_track_map['_merge']=='both']  #this is the tracks that need to be considered in the whole

In [69]:
user_song_track.isnull().any()

track_id     False
song_id      False
artist       False
song_name     True
_merge       False
dtype: bool

In [44]:
track_count=song_track_map.groupby('song_id').size().reset_index(name='counts')
track_count.shape

(999056, 2)

In [70]:
track_count.isnull().any()

song_id    False
counts     False
dtype: bool

In [63]:
track_dup=track_count[track_count.counts != 1]

In [72]:
track_dup.head()

                 song_id  counts
304   SOAAEFC12AB01852F1       2
4062  SOACGAQ12A58A79805       2
5702  SOADFGH12A6D4F74F7       2
6942  SOADYVX12A8A9D9462       2
7510  SOAEIFW12A8C1391E4       2

In [65]:
track_dup.shape

(896, 2)

In [79]:
user_dup_track_tmp = pd.merge(track_dup[['song_id']],user_song_track[['track_id','song_id']],on='song_id',indicator=True, how='outer')
user_dup_track_tmp.head()

              song_id            track_id _merge
0  SOAAEFC12AB01852F1  TRFKWJW12903CD3E3F   both
1  SOAAEFC12AB01852F1  TRYWQZV12903CB413C   both
2  SOACGAQ12A58A79805  TRHELBK128F931F176   both
3  SOACGAQ12A58A79805  TRTOJFP128F933897E   both
4  SOADFGH12A6D4F74F7  TRMIGUO128F146D75D   both

In [80]:
user_dup_track = user_dup_track_tmp[user_dup_track_tmp['_merge']=='both']

In [81]:
user_dup_track.shape

(1375, 3)

In [82]:
user_dup_track.isnull().any()

song_id     False
track_id    False
_merge      False
dtype: bool

In [85]:
user_dup_track=user_dup_track[['song_id','track_id']]
user_dup_track.head()

              song_id            track_id
0  SOAAEFC12AB01852F1  TRFKWJW12903CD3E3F
1  SOAAEFC12AB01852F1  TRYWQZV12903CB413C
2  SOACGAQ12A58A79805  TRHELBK128F931F176
3  SOACGAQ12A58A79805  TRTOJFP128F933897E
4  SOADFGH12A6D4F74F7  TRMIGUO128F146D75D

In [3]:
full_data = pd.read_csv("full_profile.csv")
full_data.head()

,user,count,track_id,song_id,artist,song_y,duration,loudness,tempo,song_hotness,artist_hotness,key_confidence,mode_confidence,release_year,artist_id,artist_tag
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,1,TRAUCNU128F42671EB,SOWEZSI12A81C21CE6,Gipsy Kings,Tu Quieres Volver,194.87302,-8.403,165.006,0.778821,0.540631,0.351,0.318,1987,b'AR2UQQ51187B9AC816',[b'classic pop and rock' b'folk']
1,833c530ecda3d99deb8395f70400aa3999783d91,2,TRAUCNU128F42671EB,SOWEZSI12A81C21CE6,Gipsy Kings,Tu Quieres Volver,194.87302,-8.403,165.006,0.778821,0.540631,0.351,0.318,1987,b'AR2UQQ51187B9AC816',[b'classic pop and rock' b'folk']
2,d6c5bd2b570b4faf8964d7ed04f3392ff505d2be,1,TRAUCNU128F42671EB,SOWEZSI12A81C21CE6,Gipsy Kings,Tu Quieres Volver,194.87302,-8.403,165.006,0.778821,0.540631,0.351,0.318,1987,b'AR2UQQ51187B9AC816',[b'classic pop and rock' b'folk']
3,724534729c9f5dc72a009269c2c225883e4775d2,1,TRAUCNU128F42671EB,SOWEZSI12A81C21CE6,Gipsy Kings,Tu Quieres Volver,194.87302,-8.403,165.006,0.778821,0.540631,0.351,0.318,1987,b'AR2UQQ51187B9AC816',[b'classic pop and rock' b'folk']
4,ee7aa84c164038c963cfd02a7e52a5598aa470c3,2,TRAUCNU128F42671EB,SOWEZSI12A81C21CE6,Gipsy Kings,Tu Quieres Volver,194.87302,-8.403,165.006,0.778821,0.540631,0.351,0.318,1987,b'AR2UQQ51187B9AC816',[b'classic pop and rock' b'folk']

In [5]:
any(full_data.duplicated())

False