In [1]:
from PythonSrc.hdf5_getters import *
import pandas as pd
import numpy as np

#all id here has with a b'' at the starting point
#get out all of them and then output the dataframe as a csv file so that next time can directly import as a df to manipulate

#use knn(k nearest neighbour) to do cluster
#semantic embedding model
#acoustic similarity model

col_names =  ['track_id','duration','loudness','tempo','song_hotness','artist_hotness','key_confidence','mode_confidence','release_year','artist_id','artist_tag']
df = pd.DataFrame(columns = col_names)
df

Empty DataFrame
Columns: [track_id, duration, loudness, tempo, song_hotness, artist_hotness, key_confidence, mode_confidence, release_year, artist_id, artist_tag]
Index: []

In [2]:
track = pd.read_csv("MillionSongSubset/AdditionalFiles/subset_unique_tracks.txt",sep='<SEP>',header=None)
track.head()

/anaconda3/envs/si650/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

                    0                   1                 2                 3
0  TRAAAAW128F429D538  SOMZWCG12A8C13C480            Casual  I Didn't Mean To
1  TRAAABD128F429CF47  SOCIWDW12A8C13D406      The Box Tops         Soul Deep
2  TRAAADZ128F9348C2E  SOXVLOJ12AB0189215  Sonora Santanera   Amor De Cabaret
3  TRAAAEF128F4273421  SONHOTT12A8C13493C          Adam Ant   Something Girls
4  TRAAAFD128F92F423A  SOFSOCN12A8C143F5D               Gob    Face the Ashes

In [3]:
track_list = list(track[0])

In [4]:
for i in range(len(track_list)):
    path="MillionSongSubset/data/"+ track_list[i][2] + "/" + track_list[i][3] + "/" + track_list[i][4] +"/" + track_list[i] + ".h5"
    h5 = open_h5_file_read(path)
    data_list = []
    data_list.append(get_track_id(h5))
    data_list.append(get_duration(h5))
    data_list.append(get_loudness(h5))
    data_list.append(get_tempo(h5))
    data_list.append(get_song_hotttnesss(h5))
    data_list.append(get_artist_hotttnesss(h5))
    data_list.append(get_key_confidence(h5))
    data_list.append(get_mode_confidence(h5))
    data_list.append(get_year(h5))
    data_list.append(get_artist_id(h5))
    data_list.append(get_artist_mbtags(h5))
    df.loc[i]=data_list
    h5.close()

In [12]:
df.head()

,track_id,duration,loudness,tempo,song_hotness,artist_hotness,key_confidence,mode_confidence,release_year,artist_id,artist_tag
0,b'TRAAAAW128F429D538',218.93179,-11.197,92.198,0.602120,0.401998,0.736,0.636,0,b'ARD7TVE1187B99BFB1',[]
1,b'TRAAABD128F429CF47',148.03546,-9.843,121.274,NaN,0.417500,0.169,0.430,1969,b'ARMJAGH1187FB546F3',[b'classic pop and rock']
2,b'TRAAADZ128F9348C2E',177.47546,-9.689,100.070,NaN,0.343428,0.643,0.565,0,b'ARKRRTF1187B9984DA',[]
3,b'TRAAAEF128F4273421',233.40363,-9.013,119.293,NaN,0.454231,0.751,0.749,1982,b'AR7G5I41187FB4CE6C',"[b'uk', b'british', b'english']"
4,b'TRAAAFD128F92F423A',209.60608,-4.501,129.738,0.604501,0.401724,0.092,0.371,2007,b'ARXR32B1187FB57099',[]

In [7]:
df.to_csv('music_all.csv', sep=',',index=False)

In [14]:
df_accurate = df[['track_id','duration','loudness','tempo','artist_hotness','key_confidence','mode_confidence','artist_id']].copy()
df_accurate.to_csv('music_accurate.csv', sep=',',index=False)

In [88]:
# h5 = open_h5_file_read("MillionSongSubset/data/A/A/A/TRAAAAW128F429D538.h5")
# track_id = get_track_id(h5)
# duration = get_duration(h5)
# loudness = get_loudness(h5)
# tempo = get_tempo(h5)
# song_hotness = get_song_hotttnesss(h5)
# artist_hotness = get_artist_hotttnesss(h5)
# key_confidence = get_key_confidence(h5)
# mode_confidence = get_mode_confidence(h5)
# release_year = get_year(h5)
# artist_id = get_artist_id(h5)
# artist_tag = get_artist_mbtags(h5)
# h5.close()

In [39]:
# timbre = get_segments_timbre(h5)
# mode = get_mode(h5)
# key = get_key(h5)
# title = get_title(h5)
# release_id = get_release_7digitalid(h5)

In [ ]:
h5.close()